<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
[<a href="{% url 'crear_matricula' %}">nuevo</a>]
<hr>
<table border="1px">
  <tr>
    <th><b>Estudiante</b></th>
    <th><b>Módulo</b></th>
    <th><b>Comentario</b></th>
    <th><b>Opciones</b></th>
  </tr>
  {% for e in matriculas %}
  <tr>
    <td>
      {{e.estudiante.nombre}}
      [<a href="{% url 'detalle_estudiante' e.estudiante.id %}">+</a>]
    </td>
    <td>
      {{e.modulo.nombre}}
    </td>
    <td>
      {{e.comentario}}
    </td>
    <td>
      [<a href="{% url 'detalle_matricula' e.id %}">ver</a>]
      [<a href="{% url 'editar_matricula' e.id %}">editar</a>]
    </td>
  </tr>
  {% endfor %}
</table>


<hr>
<h2>Listado de Estudiantes</h2>
<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo</th>
    <th>Edad</th>
    <th>Matrículas</th>
  </tr>
  {% for estudiante in estudiantes %}
  <tr>
    <td>{{ estudiante.nombre }}</td>
    <td>{{ estudiante.apellido }}</td>
    <td>{{ estudiante.tipo_estudiante }}</td>
    <td>{{ estudiante.edad }}</td>
    <td>
      <ul>
        {% for m in estudiante.lasmatriculas.all %}
          <li>
            Módulo: {{ m.modulo.nombre }}<br>
            Costo: {{ m.modulo.costo }}
          </li>
        {% empty %}
          <li>Sin matrículas</li>
        {% endfor %}
      </ul>
      <b>Costo Total: {{ estudiante.costo_total }}</b>
    </td>
  </tr>
  {% endfor %}
</table>
